@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;
}

@import './app.scss';
@import './home.scss';
@import './sideNav.scss';
